{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Misión Emprende UDD — Bienvenida</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/estilo_bienvenida.css' %}">
</head>
<body>

    <main class="phone">
        <img src="{% static 'images/mision_emprende_phone_bg.gif' %}" class="gif-spacer" alt="spacer">

        <div class="video-overlay">
            <div class="video-wrap">
                <video class="video" controls autoplay muted>
                    <source src="{% static 'videos/VideoIntroductorio.mp4' %}" type="video/mp4">
                    Tu navegador no soporta video.
                </video>
            </div>

            <a href="{% url 'registro' %}" class="btn-iniciar">
                Iniciar
            </a>
        </div>
    </main>

</body>
</html>