{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SparkApp UDD — LEGO</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estilo_bienvenida.css' %}" />
</head>
<body>
  <main class="phone" role="region" aria-label="Introducciones">
    <h1 class="title">Se conocen!</h1>
    <p class="subtitle">Tienen dos minutos como grupo para conocerse mejor para esta dinamica..</p>
    <p class="body">Discutan entre si: Cuales son sus habilidades? (Liderazgo, perseverancia, trabajo en equipo...)</p>
        <script>
      let timeLeft = 120; // 2 minutes in seconds
      const timerElement = document.getElementById('timer');

      function updateTimer() {
        const minutes = Math.floor(timeLeft / 60);
        const seconds = timeLeft % 60;
        timerElement.textContent = `${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
        if (timeLeft > 0) {
          timeLeft--;
        } else {
          clearInterval(timerInterval);
          alert("Se termino el tiempo!");
          // window.location.href = "{% url '...' %}"; agregar url a donde redirigir
        }
      }

      const timerInterval = setInterval(updateTimer, 1000);
      updateTimer(); // Initial call to display the timer immediately
    </script>

  </main>
</body>

