{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>SparkApp UDD — LEGO</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estilo_bienvenida.css' %}" />
</head>
<body>
  <main class="phone" role="region" aria-label="Pantalla de bienvenida">
      <img src="{% static 'images/Lego-logo.png' %}" alt="Logo lego" class="logo">
    <h1 class="title">Construye tu desafio!</h1>
    <p class="subtitle">Tu profesor te entregará una caja con LEGOS.</p>
    <p class="body">Usa los LEGOS para construir una representación física de tu solución al desafío.</p>

  </main>
</body>

