{% load static %}
{% include "atajos.html" %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Misión Emprende UDD — Bienvenida</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estilo_pantalla_inicio.css' %}">
</head>
<body>
  <main class="transition-container">
    <section class="card">

      <div class="logo">
        <img src="{% static 'images/logo.gif' %}" alt="Logo Misión Emprende">
      </div>

      <h1>¡Has sido reclutado para la misión!</h1>

      <!-- CONSOLA FUTURISTA -->
       <div class="console-card">
        <p class="console-title console-line">RECLUTAMIENTO CONFIRMADO</p>

        <p class="console-line"><span class="console-label">Rol asignado:</span> Agente en entrenamiento</p>
        <p class="console-line"><span class="console-label">Fase actual:</span>Activación</p>
        <p class="console-line"><span class="console-label">Estado:</span> Preparado para iniciar</p>

        <p class="console-prompt console-line">¿Aceptar misión?</p>
      </div>

      <div class="next-step">
        <button class="btn-chip" id="btnComenzar">¡Estoy listo!</button>
      </div>

    </section>
  </main>

  <script>
    document.getElementById('btnComenzar').addEventListener('click', () => {
      window.location.href = "{% url 'promptconocidos' %}";
    });
  </script>

</body>
</html>
