{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Misión Emprende UDD — Dashboard Profesor</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/estilo_dashboardprofesor.css' %}" />
</head>
<body>
  <div class="dashboard">

    <aside class="sidebar">
      <div class="sidebar-logo">
        <h2 class="sidebar-title">Dashboard Profesor</h2>
      </div>

      <nav class="sidebar-nav">
        <ul>
          <li><a href="{% url 'dashboardprofesor' %}">Inicio</a></li>
          <li><a href="#">Registrar alumnos</a></li>
        </ul>
      </nav>
    </aside>

    <main class="main-content">

    </main>
  </div>
</body>
</html>
