:root{
  --bg: #000712 url('/static/images/fondo_bienvenida.png') center/cover no-repeat fixed;
  --card:#081A2D;
  --text:#E6EEF8;
  --muted:#AAB7C8;
  --primary:#00C8FF;
  --accent:#FF7A1A;
  --radius:28px;
  --shadow:0 18px 40px rgba(0,0,0,.6);
  --glow:0 0 25px rgba(0,200,255,.35);
}

* { box-sizing:border-box; margin:0; padding:0; }

body {
  font-family:"Poppins",system-ui,-apple-system,Segoe UI,Roboto,Arial,sans-serif;
  background:var(--bg);
  color:var(--text);
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  padding:20px;
}

.team-container {
  width:clamp(360px, 90vw, 900px);
  background:url('/static/images/desafio.png') center calc(50% + 60px)/cover no-repeat;
  border-radius:28px;
  box-shadow:var(--shadow);
  padding:clamp(40px, 5vw, 70px);
  text-align:center;
  animation: fadeIn 0.6s ease-in-out;
  padding-top: 100px;
  position: relative;   /* necesario para ::after y globo */
  overflow: hidden;
  min-height: clamp(600px, 75vh, 900px);
  padding-bottom: 50px;
}

.title {
  color:var(--accent);
  font-size:clamp(34px, 6vw, 60px);
  font-weight:800;
  margin-top: -100px;
  margin-bottom: 50px;
}

.subtitle {
  color:var(--muted);
  font-size:clamp(16px, 2vw, 20px);
  line-height:1.6;
  max-width:650px;
  margin:0 auto 32px;
}

.image-area{
  margin: 22px auto 30px;
  display:flex;
  justify-content:center;
}
.team-image{
  width:clamp(220px, 55vw, 420px);
  height:auto;
  border-radius:24px;
  box-shadow:0 8px 20px rgba(0,0,0,.1);
  object-fit:cover;
}

.next-step {
  background:#081A2D;
  border-radius:20px;
  padding:20px;
  box-shadow:inset 0 0 0 2px #e8edf9;
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.next-step p {
  font-size:clamp(15px, 1.8vw, 18px);
  color:var(--text);
}

.btn.primary {
  background:var(--primary);
  color:#fff;
  border:none;
  padding:14px 30px;
  border-radius:14px;
  font-size:clamp(15px, 1.8vw, 18px);
  font-weight:700;
  cursor:pointer;
  box-shadow:0 8px 16px rgba(10,129,119,.25);
  transition:background .25s ease, transform .2s ease;
}

.btn.primary:hover {
  background:var(--primary-pressed);
  transform:translateY(-2px);
}

@keyframes fadeIn {
  from { opacity:0; transform:translateY(10px); }
  to { opacity:1; transform:translateY(0); }
}

/* ================== GLOBO DE DIÁLOGO ================== */
.speech-bubble{
  position:absolute;
  left: 21%;
  top: 53%;
  width: clamp(300px, 40vw, 520px);

  padding: 18px 22px;
  border-radius: 16px;

  background: rgba(0, 140, 255, 0.12);
  border: 1.6px solid rgba(0, 180, 255, 0.8);

  backdrop-filter: blur(10px) saturate(150%);
  -webkit-backdrop-filter: blur(10px) saturate(150%);

  box-shadow:
    0 0 20px rgba(0, 180, 255, .4),
    0 0 60px rgba(0, 100, 255, .3);

  z-index: 3;
  text-align:left;
}

/* Texto dentro del globo */
.speech-bubble p{
  margin:0;
  color:#E8F6FF;
  font-size:clamp(22px, 1.6vw, 20px);
  line-height:1.5;
}
